body {
  background: #333;
  color: #fff;
}
.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
  background: #333;
}
#home {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  top: 0;
}
#home .dark-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 760px;
  background: rgba(0, 0, 0, 0.7);
}
#home .home-inner {
  padding-top: 150px;
}
#home .card-form {
  opacity: 0.7;
}
#home .fas {
  color: #008ed6;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}
#explore-body .fas,
#share-body .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
#create-body .fas {
  background: #fff;
  color: #008ed6;
  padding: 5px;
  border-radius: px;
}
